<div class="container">
    <h1 class="text-center">Order History</h1>
    <hr>

    <ng-container *ngFor="let order of OrderHistoryData">
        <div>
            <h1 class="text-center">{{order.orderDate}}</h1>
            
        </div>
        

            <ng-container *ngFor="let item of order.cartItems">
                <div class="flex-container">
                    <div class="image text-center">
                        <img src="{{item.product.imageUrl}}" alt="Product Image">
                    </div>
                    <div>
                        <h1 class="mt-0 mb-1">{{item.product.name}}</h1>
                        <p class="mb-0">{{item.product.detail}}</p>
                        <h3>{{item.product.price|currency : '&#8377;'}}</h3>
                        <h4>
                            <span>Quantity: {{item.quantity}}
                            </span>
                        </h4>
                        <h3>Sub Total: {{item.product.price * item.quantity |currency : '&#8377;'}}</h3>
        
                        
                        
                    </div>

                </div>

            </ng-container>

            <h2 class="text-center"> Total Bill : {{getOrderTotal(order.cartItems)}}</h2>

        <hr>

    </ng-container>



    



</div>
