<div class="loginBox">
    <div class="container-fluid">
        <h1 class="text-center mt-2">Login</h1>
    
        <form (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email:</mat-label>
                <input [(ngModel)]="credentials.userName" name= "userName" type="email" matInput required>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password:</mat-label>
                <input [(ngModel)]="credentials.password" name="password" type="password" matInput required>
            </mat-form-field>
            
            <div class="text-center mt-2">
                <button class="btn btn-success mt-3 mx-auto" type="submit">Login</button>
            </div>
            
            <div class="text-center mt-3 mb-3">
                <h4>New to Smart Shop? <a routerLink="/signup">Signup</a></h4>
            </div>
    
        </form>
        {{credentials|json}}
    </div>

</div>
