<div class="signupBox">
    <div class="container-fluid">
        <h1 class="text-center mt-2">Signup</h1>

        <form>

            <div class="form-group mt-2">
                <label>Name:</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group mt-2">
                <label>Email:</label>
                <input type="email" class="form-control">
            </div>

            <div class="form-group mt-2">
                <label>Password:</label>
                <input type="password" class="form-control">
            </div>

            <div class="text-center mt-4 mb-3">
                <button class="btn btn-success " type="submit">Signup</button>
            </div>

            <div class="text-center mt-4 mb-3">
                <h6>Existing User? <a routerLink="/login">Login</a></h6>
            </div>

        </form>
    </div>
</div>